
  <div id="master_div">
    <div id="header_div">
	  <div id="header_top_div">
        <div id="title_div">
          <h1><span class="cap">T</span>rusty <span class="cap">C</span>inematic <span class="cap">I</span>nquiry</h1>
        </div>
		<div id="menu_search_div">
	      <div class="connected_menu" id="menu_div">
              <button id="menu_0" onclick="menu(0);">Home</button>
              <button id="menu_1" onclick="menu(1);">TV</button>
              <button id="menu_2" class="active" onclick="menu(2);">Movies</button>
			  <button id="menu_3" onclick="menu(3);">Reviews</button>
              <button id="menu_4" onclick="menu(4);">About</button>
            </div>
		  <div id="search_div">
		    <input id="search_text" type="text"></input>
			<button onclick="search();" id="search_button"><%= image_tag("mag_glass.png", size: "20") %></button>
		  </div>
		</div>
	  </div>
	  <div id="header_bottom_div">

	  </div>
    </div>
	<div id="body_div">
	    <div id="body_left_div">
	    	<h1 id="media_title"></h1><br>
	      <span id="media_date"></span><br>
		    <span id="media_runtime"></span><br>
		  	<span id="media_genres"></span><br>
		  	<span id="media_budget"></span><br>
		  	<span id="media_revenue"></span><br>
		  	<span id="media_tagline"></span><br>
		  	<span id="media_overview"></span>
	  	</div>
	  	<div id="body_right_div">
	    	<img id="media_img" src="">
	    </div>
	</div>
  </div>
